<div class="box">
  <div>
    <h2>Статус: {{ status ? "online" : "offline" }}</h2>
    <div #scrollMe class="chat-list">
      <app-message
        *ngFor="let message of list"
        [name]="message.name"
        [message]="message.message"
        [status]="onlineService.client$ | async | online: message.name"
      ></app-message>
    </div>
    <form (submit)="send($event)">
      <input type="text" [value]="mes" (input)="saveInput($event)" />
      <input type="submit" value="Send" />
    </form>
  </div>
</div>
