<div class="box">
  <div>
    <h2>Статус: {{ status ? "online" : "offline" }}</h2>
    <div #scrollMe class="chat-list">
      <div *ngFor="let message of list" class="message">
        <h5>
          <span
            class="{{ client.includes(message.name) ? 'online' : 'offline' }}"
          ></span>
          {{ message.name }}
        </h5>
        <p>{{ client.includes(message.name) ? "online" : "offline" }}</p>

        <p>{{ message.message }}</p>
      </div>
    </div>
    <form (submit)="send($event)">
      <input type="text" [value]="mes" (input)="saveInput($event)" />
      <input type="submit" value="Send" />
    </form>
  </div>
</div>
